.Rproj.user
*\.rds$
*.bk
penncath_*.bed
penncath_*.bim
penncath_*.fam
data-raw/admix.rds
*.log
*.o
*.so
.Rhistory
.DS_Store
admixture_data.R 
cad_raw.R
data-raw/*.log
data-raw/*.rds
docs
inst/doc
inst/extdata/og_cad.*
inst/extdata/cad_mid.*
inst/extdata/*.rds
R/_*
README.html
Rprof.*
scratch.R
vignettes/*.html
xxx/
xxx*\.R$
